@media screen and (max-width: 1199px) {
    
    .addressSection .info-block {
        grid-template-columns: repeat(2, 1fr);
    }
    .addressSection .info-block .item.map {
        grid-row: span 1;
        
    }
}
@media screen and (max-width: 984px) {
    .header {
        flex-direction: column;
    }
    .bannerBlock {
        height: 100px;
        
    }
    .cost_leaf::before {
        background: none;
    }
    .cost-spisok-cost li {
        padding-bottom: 35px;
    }
}
@media screen and (max-width: 768px) {
   
    .info-block_about {
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 50px;
    align-items: center;
    margin-bottom: 50px;
    }
}