:root {
    --bg: #162831;
    --white: #fff;
    --accent: #018ABE;
    --blue05: rgba(152, 201, 220, 0.5);
}

html,
body {
    font-family: sans-serif;
    background-color: var(--bg);
    color: var(--white);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}
ul {
    list-style-type: none;

}
header .header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

header .header .logo {
    width: 60px;
    height: 60px;
}

header .header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}

header .header {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-size: 14px;
}
.container_about {
    max-width: 1076px;
    margin: 0 auto;
}
.btnA {
    padding: 9px 15px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
}

.btnA-blue {
    background-color: var(--accent);
}

.btnA-white {
    background-color: var(--white);
}

section.banner {
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
    margin-top: 20px;

}

.banner .bannerBlock span {
    font-size: 24px;
    margin-bottom: 30px;
    
}

.banner .bannerBlock h1 {
    font-size: 64px;
}

.banner .bannerBlock {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   flex-direction: column;
    padding: 136px 30px 210px;
    background-image: url('../images/unsplash_S-llxYh3GzI.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.banner .bannerBlock::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--blue05);
    border-radius: 10px;
}

.banner .bannerBlock span,
.banner .bannerBlock h1 {
    max-width: 587px;
    text-align: center;
    z-index: 1;
}
.title_block { 
    position: relative;
}

.title_block.white::after,
.title_block.white::before,
.title_block::after,
.title_block::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    
}

.title_block::before {
    left: -94px;
    transform: translateY(-50%);
}
.title_block.white::after,
.title_block.white::before {
    background-image: url('../images/mm1_white.svg');
}

.title_block::after,
.title_block::before {
    background-image: url('../images/mm1_blue.svg');
}

.title_block::after {
    right: -94px;
    transform: translateY(-50%) scale(-1, 1);
}
.title_main {
    display: flex;
    justify-content: center;
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 100px;
}
section {
    padding: 75px 0;
}
section .banner {
    padding-top: 0;
}
.session .sessionBlock .info-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.session .sessionBlock .info-block .item {
    position: relative;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    font-size: 24px;
    padding: 30px 40px;
    min-height: 260px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.session {
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
}

.session .sessionBlock .info-block .item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--accent);
    opacity: 0.5;
}


.session .sessionBlock .info-block .item span {
    position: relative;
}

.session .sessionBlock .info-block .item:first-of-type {
    border-bottom: 7px solid var(--accent);
    grid-row: 1/3;
}
.reviews .reviewsBlock .info-block .item {
    padding: 50px 60px;
    background-color: var(--accent);
    border-radius: 10px;
    opacity: .3;
}

.reviews .reviewsBlock .info-block .item.active{
    opacity: 1;
}


.reviews .reviewsBlock .info-block .name {
    font-weight: bold;
    margin-bottom: 20px;
}

.reviews .reviewsBlock .info-block .item .text p {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 100;
}

.reviews .reviewsBlock .info-block .item .text p:last-of-type {
    margin-bottom: 0;
}


.about_ritmstyle {
    margin-bottom: 139px;

}
.info-block_about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 79px;
    align-items: center;
    margin-bottom: 100px;
}
.about-img-thumb {
    width: 526px;
    height: 365px;
    border-radius: 10px;
}

.about-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    
}
.about-ritmstyle_Block {
    max-width: 1076px;
    margin: 0 auto;
}
.about-desc {
font-size: 16px;
font-weight: 300;
line-height: 22px;
margin-top: 45px;
font-family: 'El Messiri', sans-serif;
}


.cost-ritmstyle_Block {
    max-width: 1076px;
    margin: 0 auto;
  
}
.info-block_cost {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cost-spisok-desc {
    margin-top: 50px;
    text-align: left;
}
.cost-spisok-cost {
    margin-top: 50px;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-right: 134px;
}
.cost-spisok-desc ul li{
    margin-bottom: 50px;
}
.cost-spisok-cost ul li{
    margin-bottom: 47.5px;
}
.cost-img img{
    border-radius: 15px;
    margin-bottom: 30px;
}
.cost-gg {
   margin-left: 150px;
   font-family: 'El Messiri';
   font-weight: 700;
   font-size: 21px;
}
.cost_leaf {
    position: relative;
}
.cost_leaf::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: -20%;
}

.cost_leaf::before {
    background-image: url('../images/mm1_blue.svg');
}
.container-map {
    max-width: 1296px;
    margin: 0 auto;
}
.map-items {
display: flex;
margin: 0 auto;
}
.map-item-card {
    background-color: var(--accent);
    height: 290px;
    width: 392px;
    margin-left: 48px;
    border-radius: 10px;
}
.map-item-card:first-of-type {
    margin-bottom: 24px;
}
.map-item-card-text {
    margin: 0 45px;
}
.map-card-title {
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 24px;
    padding-top: 35px;
}
.map-item-card-text-item {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Abhaya Libre', sans-serif;
}
.btn-map-card {
    background-color: #fff;
    color: var(--accent);
    padding: 9px 15px;
    border-radius: 3px;
    font-family: 'Abhaya Libre', sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.map-item-card-text-item-thumb {
    display: flex;
    position: relative;
}
.map-item-card-text-item-thumb img {
    position: absolute;
    left: 0px;
    top: 0;
}
.adress {
    margin-left: 40px;
}
.metro {
    margin-left: 40px;
}
.write {
    margin-left: 40px;
}
.map-item-map-img {
    border-radius: 10px;
}
.footer {
   display: flex;
   gap: 20px;
   justify-content: space-between;
   padding: 30px 0;
   align-items: center;
}
.newsSection .info-block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, auto));
    grid-auto-rows: minmax(260px, auto);
    gap: 24px;
}
.newsSection .info-block .item {
    position: relative;
    background-image: url('/images/woman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 30px 35px;
    overflow: hidden;

}
.newsSection .info-block .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent);
    opacity: .5;

}
.newsSection .info-block .item .date-title {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newsSection .info-block .item .dateMain {
    display: inline-block;
    padding: 6px 12px;
    background-color: var(--accent);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
   
}
.newsSection .info-block .item .titleNews {
    font-family: 'El Messiri', sans-serif;
    font-size: 21px;
}
.footer.line {
    border-top: 1px solid var(--white);
    margin-top: 70px;
}
.header.line {
    border-bottom: 1px solid var(--white);
}
.newsItemSection .newsItemBlock {
    padding: 0;
}
.newsItemSection .info-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 100px;


}
.newsItemSection .info-block .item.imgNews img {
    width: 100%;
    border-radius: 10px;
}
.newsItemSection .info-block .item .date {
    padding: 6px 12px;
    background-color: var(--accent);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 45px;
}
.newsItemSection .info-block .item .titleNews {
    font-family: 'El Messiri', sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}
.newsItemSection .info-block .item .text {
    font-weight: 100;
}
.newsItemSection .info-block.blog {
    border: 1px solid var(--accent);
    padding: 50px 60px;
    border-radius: 10px;
    margin-top: 45px;
    align-items: center;
}
.btn_blog {
    margin-top: 50px;
}
.btn_blog a {
    padding: 15px 20px;
    background-color: var(--accent);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    
}
.addressSection .info-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: minmax(390px, auto); */
    column-gap: 48px;
    row-gap: 24px;
}
.addressSection .info-block .item {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
}
.addressSection .info-block .item.map .img {
    width: 100%;
    height: 100%;
}
.addressSection .info-block .item.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.addressSection .info-block .item.map {
    grid-row: span 2;
    grid-column: span 2;
}
.addressSection .info-block .item:not(.map) {
    padding: 35px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.addressSection .info-block .item .address {
    margin-bottom: 20px;
    font-family: 'El Messiri', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.addressSection .info-block .item .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.addressSection .info-block .item .info .block {
    display: flex;
    gap: 20px;
}
.btnA.btnA-white {
    color: var(--accent);
}
